Repository dipexplorer/LegalHuB, pull requests merged in 2025-08, with the labels that each got.

#100 Refined and expanded the learn.md #93
  LEARN.md
Labels: bug, documentation, enhancement, level 1

#101 feat: make navbar responsive with hamburger menu for mobile devices (closes #97)
  src/public/css/style.css
  src/views/includes/navbar.ejs
  src/views/layouts/boilerplate.ejs
Labels: bug, level 3, feature

#106 feat: enhance document listing UI with modern design and improved UX
  package.json
  src/controllers/document.controller.js
  src/controllers/page.controller.js
  src/views/pages/documents.ejs
  test/document.filter.test.js
  test/document.frontend.test.js
  test/document.performance.test.js
Labels: bug, documentation, level 3, feature

#119 Article Publishing system
  package-lock.json
  src/controllers/article.controller.js
  src/models/article.model.js
  src/public/css/style.css
  src/views/pages/article-details.ejs
  src/views/pages/article-form.ejs
  src/views/pages/articles.ejs
Labels: bug, documentation, level 3, feature

#116 Feature/fundamental rights UI enhancement
  src/controllers/page.controller.js
  src/views/pages/fundamental.ejs
Labels: enhancement, level 3, gssoc25, feature

#130 Feature/lawyer page UI enhancement
  src/views/pages/lawyers.ejs
Labels: enhancement, level 3, gssoc25

#166 Fix: Misaligned Input Box in Search Component
  src/views/pages/index.ejs
  src/views/pages/nopage.ejs
Labels: level 1, gssoc25
